<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <Unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <!-- type and mapTo structure "namespace.class/interface, Reference DLL(Project Properties)" -->
      <register type="Spike.Contracts.Users.IUserAdapter, Spike.Contracts"
                mapTo="Spike.Model.DatabaseStub.UserAdapter, Spike.Model" />
    </container>
  </Unity>
</configuration>

